.cuadro {
  height: 200px;
  opacity: 0.3;
  transition: opacity 500ms;
}
.prendido {
  height: 200px;
  opacity: 2;
  transition: opacity 500ms;
}

#cuadro-1 {
  background-color: red;
}

#cuadro-2 {
  background-color: blue;
}

#cuadro-3 {
  background-color: yellow;
}

#cuadro-4 {
  background-color: green;
}
body {
  background-color: #232323;
  color: bisque;
}
